<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jakenations.me.tictactoe" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VsComputer3x3"
            android:label="@string/title_activity_tic_tac_toe"
            android:parentActivityName=".MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jakenations.me.tictactoe.mainMenu" />
        </activity>
        <activity
            android:name=".VsHuman3x3"
            android:label="@string/title_activity_vs_human3x3" >
        </activity>
        <activity
            android:name=".VsComputer4x4"
            android:label="@string/title_activity_vs_computer4x4"
            android:parentActivityName=".MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jakenations.me.tictactoe.MainMenu" />
        </activity>
        <activity
            android:name=".VsHuman4x4"
            android:label="@string/title_activity_human4x4"
            android:parentActivityName=".MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jakenations.me.tictactoe.MainMenu" />
        </activity>
        <activity
            android:name=".VsComputer"
            android:label="@string/title_activity_vs_computer" >
        </activity>
        <activity
            android:name=".VsHuman"
            android:label="@string/title_activity_vs_human" >
        </activity>
    </application>

</manifest>
